name: Release

on:
  release:
    types: [published]

permissions:
  contents: read

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0
        filter: tree:0

    - name: Setup .NET
      uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
      with:
        global-json-file: global.json
        cache: false

    - name: Restore
      run: dotnet restore Blake3.Managed.sln

    - name: Build
      run: dotnet build Blake3.Managed.sln -c Release --no-restore

    - name: Test
      run: dotnet test src/Blake3.Managed.Tests -c Release --no-build --blame-hang-timeout 60s

    - name: Pack
      run: dotnet pack src/Blake3.Managed -c Release --no-build --output ./nupkgs

    - name: Push to NuGet
      run: dotnet nuget push ./nupkgs/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
